/*4 external Css*/
body {
    padding-bottom: 500px;
    background-color: rgb(255, 249, 249);
}

h3 {
    color: green;
    font-size: 40px;
}

/*p{
    color: blueviolet;
}
/*Algum comentario*/
/*mais um comentario*/

/* classes */

.paragraph {
    background-color: aquamarine;
    color: black;
    padding: 5px;
}

#exclusive {
    background-color: blanchedalmond;
    color: black;
    padding: 10px;
}

/*h2 {
    border-bottom: 2px solid red;
}*/

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

.color-name {
    color: crimson;
}

.hex {
    color: #677e3b;
}

.hex2 {
    color: #a1e273;
}

.simple-hex {
    color: #888;
}

.simple-hex2 {
    color: #a5f;
}

/*RGB*/
.rgb {
    color: rgb(255, 0, 0);
}

.rgb-mixed {
    color: rgb(199, 21, 47);
}

/*RGBA*/
.rgba {
    color: rgba(100, 199, 45, 0.2);
}

/*HSL*/
.hsl {
    color: rgba(201, 85%, 48%);
}

/*Backgroud*/
.bg {
    background-color: black;
    color: rgb(255, 255, 255);
}

/*Backgroud opacity*/
.bg-opacity {
    background-color: green;
    opacity: 0, 2;
}

.bg-opacity-2 {
    background-color: #999;
    color: rgb(0, 0, 0);
    opacity: 0, 8;
}

/*rgba com opacidade*/
.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: black;
}

/*BG image*/
.bg-image {
    background-image: url(img/photo-1538370965046-79c0d6907d47.jpg);
    color: #fff;
    padding: 10px 900px;
    background-size: cover;
}

/*centralizando bg image*/
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url(img/Imagem\ do\ mar\ calma\ e\ belo\ da\ Praia\ da\ Engenhoca-Itacaré-Bahia-BA.jpg);
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/*largura e altura*/
.height-width {
    background-color: #a5f;
    height: 300px;
    width: 400px;
}

.height-width-2 {
    background-color: rgb(243, 64, 94);
    height: 500px;
}

/*padding*/
.not-padding {
    background-color: tomato;
}

.yes-padding {
    padding: 20px;
    background-color: violet;
}

/*padding individual*/
.padding-individual {
    background-color: rgb(223, 142, 36);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/*shorthand padding*/
.shorthand {
    background-color: #555;
    color: aliceblue;
    padding: 20px 30px 40px 50px;
}

.shorthand-2 {
    background-color: #999;
    padding: 40px 60px;
}

/*padding com width*/
.without-border-box {
    background-color: #555;
    color: aliceblue;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #888;
    color: alicebluez;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/*borda*/
.border {
    border: 5px solid red;
    padding: 20px;
}

.border-2 {
    border: 5px dotted blue;
}

/*bordas individuais*/
.border-left {
    border-left: 10px solid rgb(51, 4, 99);
    background-color: #e1fa00c0;
}

.border-bottom {
    border-bottom: 10px double rgb(51, 4, 99);
    background-color: #e1fa00c0;
}

/*Borda arrendondada*/
.rouded-p {
    background: black;
    color: white;
    font-size: 25px;
    border: 5px solid #aa55ff;
    border-radius: 5px;
    padding: 15px;
}

.rouded-p-2 {
    background: black;
    color: white;
    font-size: 25px;
    border-radius: 25px;
    padding: 15px;
}

/*margem*/
.margin {
    background-color: #222;
    color: #fff;
    margin: 15px;
    padding: 10px;
}

.margin-top {
    background-color: #222;
    color: white;
    margin-top: 20px;
    padding: 10px;
}

.margin-shorthand {
    background-color: #111;
    color: #fff;
    padding: 15px;
    margin: 10px 15px 20px 30px;
}

/*box-model*/
.box-model {
    background-color: #111111;
    color: white;
    border-radius: 7px;
    border: solid 5px #aa55ff;
    padding: 20px;
    width: 700px;
    height: 200px;
    margin: 50px;
    box-shadow: #222222 2px 5px 10px;
}

/*desafio 3*/

#desf {
    background-color: rgba(255, 197, 80, 0.82);
    margin: auto;
    width: 200px;
    height: 100px;
    border: solid 5px #3060e0;
    border-radius: 7px;
    padding: 50px;
}

#desf .desafio-3 {
    background-color: #111;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    outline: #3060e0 solid 5px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

/*text alignment*/
.text-aligned {
    text-align: right;
}

/*treino*/
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 5px;
    box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}

.container:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.container p {
    color: #a3a5ae;
    font-size: 16px;
}
.blue {
    border-left: 6px solid #4895ff;
  }
   
  .green {
    border-left: 6px solid #3bb54a;
  }
   
  .red {
    border-left: 6px solid #b3404a;
  }